<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thư viện sách</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="/resources/bootstrap413/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/resources/datatables/css/dataTables.bootstrap4.min.css"/>
    <style>
        .center-box {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .head-text {
            font-size: 30px;
            font-weight: bold;
            height: 10%;
        }

        .footer {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        table.dataTable thead th {
            border-top: none;
        }
    </style>
</head>
<body class="h-100">
<nav class="navbar navbar-light bg-dark text-white center-box head-text">
    Thư viện sách
</nav>
<div class="p-0 m-0" style="width: 10%; float: left">&nbsp;</div>
<div class="h-100 p-0 m-0" style="width: 80%; float: left">
    <table class="table text-center table-hover bg-white w-100 border-0" id="tableEmployee">
        <tr th:if="${msg != null}">
            <th colspan="11">
                <div class="w-100 footer text-success" th:text="${msg}">
                </div>
            </th>
        </tr>
        <tr>
            <th colspan="11">
                <div class="w-100 footer">
                    <a href="#" class="font-weight-bold" data-toggle="modal" data-target="#giveback">Trả sách
                    </a>
                </div>
            </th>
        </tr>
        <tr>
            <th>No.</th>
            <th>Mã sách</th>
            <th>Tên sách</th>
            <th>Số lượng sách</th>
            <th>Chi tiết</th>
        </tr>

        <tr th:each="book, status: ${bookList}">
            <td th:text="${status.count}"></td>
            <td th:text="${book.id}"></td>
            <td th:text="${book.name}"></td>
            <td th:text="${book.quantity}"></td>
            <td>
                <button class="btn btn-primary" th:attr="onclick=|detailBook('${book.id}')|">
                    Xem
                </button>
            </td>
        </tr>
        <tr>
            <td colspan="8">
                <div>
                    <span>
                        <a class=" btn btn-secondary" th:if="${bookList.hasPrevious()}"
                           th:href="@{/(page = ${bookList.number - 1})}">Previous</a>
                    </span>
                    <span th:each="pageNo: ${#numbers.sequence(0,bookList.totalPages - 1)}">
                        <a class=" btn btn-secondary" th:href="@{/(page = ${pageNo})}" th:text="${pageNo + 1}"></a>
                    </span>
                    <span>
                        <a class=" btn btn-secondary" th:if="${bookList.hasNext()}"
                           th:href="@{/(page = ${bookList.number +1})}">Next</a>
                    </span>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="p-0 m-0" style="width: 10%; float: left">&nbsp;</div>
<div class="modal" id="giveback">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header w-100">
                <div class="w-100 center-box">
                    <form method="post" action="/giveback"
                          class="form-inline my-2 my-lg-0 w-100 center-box">
                        <div class="row p-1 rounded rounded-pill w-100  center-box">
                            <div class="col-md-12 input-group center-box shadow-sm bg-light w-100 p-0">
                                <input type="search" placeholder="Mã mượn sách" aria-describedby="button-addon1"
                                       class="form-control border-0 w-75 bg-light "
                                       name="orderBookId">
                                <div class="input-group-append bg-light w-25">
                                    <button id="button-addon1" type="submit"
                                            class="btn bg-light btn-link text-primary w-100">
                                        <i class="bi bi-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        </div>
    </div>
</div>
</body>

<script src="/resources/jquery/jquery-3.5.1.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="/resources/bootstrap413/js/bootstrap.bundle.min.js"></script>

<script>
    var id;

    function detailBook(id) {
        window.location.href = /detail/ + id;
    };
</script>
</html>